
@media print {
   input{
    border: none;
  }
}

@font-face {
    font-family: "Shabnam-FD" ;
    src: url("./fonts/Shabnam-FD.woff2");
  } 

  body {
      font-family: "Shabnam-FD";
      background-color: #EEEEEE;
  }
  
  * {
      box-sizing: border-box;
      margin: 0;
      direction: rtl;
      text-align: right;
  }
  
  .header, .footer {
      background-color: rgb(47, 91, 234);
      padding: 2rem;
      color: #fff;
      margin-bottom: 0.5rem;
      font-family: "Shabnam-FD";
  }
  
  .header_icon{
    position: absolute;
    font-size: 1.5rem;
    color: #fff;
    left: 2rem;
    cursor: pointer;
  }
  
  .side-menu{
    list-style-type: none ;
    width: 200px;
    left: -200px;
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    position: fixed;
    flex-direction: column;
    z-index: 2;
    color: #fff;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in;
    background-color: rgb(33, 150, 243,0.13);
    backdrop-filter: blur(15px);
  }
  
.btntext{
    height: 150px;
    left: 200px;
    right: 0;
    top: -200px;
    bottom: 0;
    margin: 0;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    position: fixed;
    flex-direction: column;
    z-index: 2;
    color: #fff;
    cursor: pointer;
    border-radius: 1rem;
    transition: 0.8s all;
    background-color: rgb(33, 150, 243,0.13);
    backdrop-filter: blur(15px);
  }
  
  .btntext p{
   display: none;
   text-align: justify;
   direction: rtl;
   font-size: 1.2rem;
   padding: 1rem;
  }
  
  .header h2 {
    padding-top: 15px;
    padding-right: 5px;
  }

  .header-btn, .header-btn a{
    width: 100%;
    text-decoration: none;
    border-radius: 0.5rem;
    color: inherit;
    background-color: #1E88E5;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
  
  .header-btn:hover{
    opacity: 0.7;
  }

  .topmain{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .topmain h1, h2{
    color: #fff;
  }

   
  .topmaintext{
    display: flex;
    flex-direction: column;
  }
  .topmaintext h2{
    align-self: flex-start;
  }
  
  .topmaintext h3{
    align-self: center;
  }

  .topmaintext h1{
    align-self: flex-end;
  }

  .topmainimg{
    margin: 0;
    background-color: rgba(47, 91, 234);
    backdrop-filter: blur(15px);
    width: 50%;
    height: 50%;
  }
  
  .topmain img{
    width: 100%;
  }

  .middlemain{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    margin: 0 4rem;
    padding: 0;
  }

  .dropdown-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    margin: 0 4rem;
    padding: 0;
  }

  .text-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    justify-self: center;
    color: #fff;
    gap: 0.3rem;
    margin-bottom: 0.3rem;
  }

  .text-box p{
    min-width: 100px;
    background-color: #1E88E5;
    height: 30px;
    padding: 0.3rem;
    border-radius: 1rem;
    text-align: center;
  }

  .dropdown-wrapper{
    min-width: 140px;
    height: 50px;
    padding: 0.7rem;
    background-color: #fff;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
    font-size: 16px;
    font-weight: bold;
  }

  .dropdown-content{
    position: absolute;
    display: flex;
    background-color: #fff;
    border-radius: 1rem;
    transition: all 1s ease;
    margin-top: -37px;
    margin-right: 130px;
    visibility: hidden;
    opacity: 0;
  }

  .dropdown-wrapper:hover .dropdown-content{
    visibility: visible;
    opacity: 1;
  }

  .dropdown-wrapper:hover .dropdown-content a{
    font-size: 14px;
  }

  .dropdown-wrapper:hover svg{
    transform: rotate(180deg);
  }

  .dropdown-content a{
    height: 50px;
    border-left: 2px solid #2f5bea;
    cursor: pointer;
    text-align: center;
    padding: 0.7rem;
    border-radius: 1rem;
    font-size: 0;
    transition: all 0.7s ease;
  }

  .dropdown-content a:hover{
    transform: scale(1.4);
    background-color: #1E88E5 !important;
    border: none;
  }

  .dropdown-btn{
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    gap: 10px;
    background-color: transparent;
    font-family: "Shabnam-FD";
    font-weight: bold;
  }

  svg {
    transition: all 1.2s ease;
  }

  .chevron-left{
    width: 24px;
    height: 24px;
  }

  .chevron-top{
    display: none;
    width: 16px;
    height: 16px;
  }
  
  .container{
    padding: 1rem;
    margin: 2rem;
    border-radius: 1rem;
    background-color: #2f5bea;
  }
  
  .buttons-wrapper{
    width: 710px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    list-style-type: none;
    padding: 0.5rem 0;
    gap: 0.5rem;
  }
  
  .buttons-wrapper li {
    height:40px;
    background-color: #fff;
    backdrop-filter: blur(15px);
    color: rgb(47, 91, 234);
    border-radius: 0.5rem;
    border:none;
    outline: none;
    cursor: pointer;
    font-family: "Shabnam-FD";
    font-size: 16px;
    font-weight: 400;
    padding: 0.5rem;
    text-align: center;
  }

.userinputs{
  display: grid;
  grid-template-columns: 240px 300px 240px;
  grid-template-rows: 40px 40px 40px;
  border: 1px solid black;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}

.userinputs input{
    width: 120px;
    border: none;
    outline: none;
    background-color: #2f5bea;
    color: #fff;
    font-family: "Shabnam-FD";
  }

.input-box, .form-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
    gap: 0.2rem;
  }

  .input-box{
    border: 2px solid #fff;
    border-radius: 0.5rem;
  }
  
  .test-box{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 15% 80%;
  }

  .test-box input{
    width: 100%;
  }

  .school-box input{
    width: 200px;
  }

  .forminfo{
    display: grid;
    grid-template-columns: 26% 48% 26%;
    grid-template-rows: 40px 40px 40px;
    border: 1px solid black;
    padding: 0.5rem;
  }

  .centerfield{
    justify-self: center;
  }
  
  .buttons-wrapper li:hover {
    font-weight: bold;
    color: #fff;
    background-color: #1E88E5;
  }
  
  .questionlist-wrapper {
    overflow-y: auto;
    outline: none;
    border-radius: 0.5rem;
    background-color: #fff;
    width: 720px;
    height: 500px;
  }
  
  .questionlist-table{
    border-collapse: collapse;
    width: 100%;
  }
  
  .qtitr {
    position: sticky;
    top: -1;
    background-color: #2f5bea;
  }

  .plus{
    margin: 5px;
    width: 25px;
    height: 25px;
    border-radius: 0.5rem;
    background-image: url(./plus.svg);
    background-color: #2f5bea;
    cursor: pointer;
    transition: all 0.8s ease;
  }

 .plus:hover{
    background-color: green;
    transform: scale(1.4) rotate(90deg);
  }

  .limage {
    display: flex;
    width: 640px;
    transition: all 1s ease;
  }

.qtable-wrapper{
    width: 720px;
    background-color: #fff;
  }
    
  .questionlist-wrapper td {
    border: 2px solid black;
    text-align: center;
  }
  
  .questionlist-wrapper th {
    border:2px solid black;
    text-align: center;
  }
  
  .bottommain {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
    margin-right: -2600px;
    transition: 1.5s all ease;
  }
  
  .titr {
    display: flex;
    height: 30px; 
  }
  
  .besm {
    padding-bottom: 10px;
  }
  
  
  .questionstable{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
  }
  
  .questions {
    position: relative;
    text-align: center;
    border-top: 1px solid black;
    margin-right: auto;
    margin-left: auto;
  }
  
  .qimage {
    width: 640px;
    margin: 5px 0;
  }
  
  .questionnumber {
    position: relative;
    text-align: center;
    width: 20px;
    font-size: 80%;
    border: 1px solid black;
    }
  
  .marks {
    width: 35px;
    position: relative;
    text-align: center;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: 80%;
  }
  
  .marks input {
    font-family: "Shabnam-FD";
    text-align: center;
    width: 90%;
    height: 70%;
    position: absolute;
    top: 3px;
    left: 2px;
    border: none;
    font-weight: bold;
    font-size: 12px;
  }
  
  .marks input:hover {
    background-color: powderblue;
  }
  
  .questionnumber button {
    position: absolute;
    top: 15px;
    right: 4px;
    width: 22px;
    height: 22px;
    background-color: #1E88E5;
    border-radius: 0.3rem;
    border:none;
    cursor: pointer;
    padding: 0.2rem;
    transition: all 0.8s ease;
    background-image: url(./delete.svg);
  }
  
  .questionnumber button:hover{
    background-color: red;
    transform: scale(1.3);
  }
  
  .footer p{
    text-align: center;
  }
  
@media (max-width: 1100px){
  h1, h2, h3{
    font-size: 80%;
  }
  .middlemain{
    flex-direction: row;
    justify-content: center;
  }
  .dropdown-box{
    flex-direction: row;
    align-items: center;
  }
  .dropdown-wrapper{
    flex-direction: column;
    max-width: 130px;
    max-height: 40px;
  }
  .chevron-left{
    display: none;
  }
  .chevron-top{
    display: block;
  }
 .dropdown-content{
    flex-direction: column;
    width: 100%;
    margin-top: 18px;
    margin-right: -12px;
    font-size: 10px;
  }
  .dropdown-content a{
    height: 10%;
    border-left: none;
    border-bottom: 1px solid #2f5bea;
  }
  .dropdown-wrapper:hover .dropdown-content a{
    font-size: 10px;
  }
  .text-box p{
    max-width: 80px;
    font-size: 12px;
  }
}

@media (max-width: 900px){
  .questionlist-wrapper, .qtable-wrapper, .form-wrapper{
    max-width: 700px;
  }
  .form-wrapper{
    align-items: center;
    font-size: 12px;
  }
  .userinputs{
    display: flex;
    flex-direction: column;
  }
  .test-box{
    margin: 0;
    max-width: 400px;
  }
  .test-box input{
    max-width: 300px;
  }
  .buttons-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    font-size: 12px;
  }

}

@media (max-width: 800px){
  .questionlist-wrapper, .qtable-wrapper, .form-wrapper{
    max-width: 350px;
  }
  .questionlist-wrapper img{
    max-width: 290px;
  }
  .qtable-wrapper img{
    max-width: 290px;
  }
.main *,.main li{
    font-size: 10px;
  }
}