
@media print {
   input{
    border: none;
    outline: none;
  }
}

@font-face {
    font-family: "Shabnam-FD" ;
    src: url("./fonts/Shabnam-FD.woff2");
  } 

  * {
     font-family: "Shabnam-FD";
      box-sizing: border-box;
      margin: 0;
      direction: rtl;
      text-align: right;
  }
  
.header-upper-elements{
    display: flex;
    align-items: center;
    height: 50px;
    gap: 0.2rem;
    position: fixed;
    top: 0;
    transition: all 1s ease;
    background-color: black;
    backdrop-filter: blur(30px);
    width: 100%;
    box-shadow: 2px 2px 10px #2f5bea;
    z-index: 3;
}

.header-upper-elements a{
    width: 120px;
    height: 30px;
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
  
.header-lower-elements{
  width: 100vw;
  height: 960px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
  gap: 1.5rem;
  color: white;
  background-image: url('./images/bgc5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  box-shadow: 2px 2px 10px  #2f5bea;
}  

.gradeandchapter-wrapper{
  margin-top: -20px;
  align-self: flex-start;
  display: flex;
  justify-content: flex-start;
}

  .dropdown-box{
    align-self: flex-start;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }

  .text-box{
    align-self: flex-start;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }

  .text-box p{
    min-width: 140px;
    height: 50px;
    padding: 0.7rem;
    background-color: transparent;
    color: #fff;
    border-radius: 1rem;
    font-size: 16px;
    font-weight: bold;
  }

  .dropdown-wrapper{
    width: 140px;
    height: 50px;
    padding: 0.7rem;
    background-color:#1E88E5;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    font-weight: bold;
  }

  .dropdown-wrapper:nth-child(2){
    background-color: #fb8c00;
  }

  .dropdown-content{
    position: absolute;
    display: flex;
    background-color: #fff;
    border-radius: 1rem;
    transition: all 1s ease;
    margin-top: -37px;
    margin-right: 130px;
    visibility: hidden;
    opacity: 0;
  }

  .dropdown-wrapper:hover .dropdown-content{
    visibility: visible;
    opacity: 1;
  }

  .dropdown-wrapper:hover .dropdown-content a{
    font-size: 14px;
  }

  .dropdown-wrapper:hover svg{
    transform: rotate(180deg);
  }

  .dropdown-content a{
    background-color: #fff;
    height: 50px;
    border-left: 2px solid #2f5bea;
    cursor: pointer;
    text-align: center;
    padding: 0.7rem;
    border-radius: 1rem;
    font-size: 0;
    transition: all 0.5s ease;
  }

  .dropdown-content a:hover{
    transform: scale(1.2);
    background-color: #1E88E5 !important;
    border: none;
  }

  .dropdown-btn{
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    justify-content: space-between;
    align-items: center;
    border: none;
    outline: none;
    gap: 10px;
    background-color: transparent;
    font-weight: bold;
    color: #fff;
  }

  svg {
    transition: all 1s ease;
  }

  .chevron-left{
    width: 24px;
    height: 24px;
  }

  .chevron-top{
    display: none;
    width: 20px;
    height: 20px;
  }

  .main{
    margin-right: -2250px;
    margin-top: 0.5rem;
    gap: 0.5rem;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
  }
  
  .questionlist-wrapper {
    overflow-y: auto;
    outline: none;
    border: 2px solid #2f5bea;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 10px #1E88E5;
    width: 720px;
    height: 500px;
  }
  
  .questionlist-table{
    border-collapse: collapse;
    width: 100%;
  }
  
  .qtitr {
    position: sticky;
    top: -1;
    background-color: #fb8c00;
  }

  .plus{
    margin: 5px;
    width: 25px;
    height: 25px;
    border-radius: 0.5rem;
    background-image: url(./plus.svg);
    background-color: #fb8c00;
    cursor: pointer;
    transition: all 0.8s ease;
  }

 .plus:hover{
    background-color: green;
    transform: scale(1.4) rotate(90deg);
  }

  .limage {
    display: flex;
    width: 640px;
    transition: all 1s ease;
  }

  .userinputs{
    display: grid;
    grid-template-columns: 240px 300px 240px;
    grid-template-rows: 40px 40px 40px;
    border: 2px solid #fb8c00;
    box-shadow: 2px 3px 10px #1E88E5;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
  }
  
  .userinputs input{
      width: 120px;
      border: none;
      outline: none;
      font-size: 14px;
      font-weight: bold;
    }
  

  .buttons-wrapper{
    width: 710px;
    display: grid;
    grid-template-columns: repeat(4,auto);
    list-style-type: none;
    padding: 0.5rem 0;
    gap: 0.5rem;
  }
  
  .buttons-wrapper li {
    height:40px;
    background-color:#1E88E5;
    color: #fff;
    border-radius: 0.5rem;
    border:none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    padding: 0.5rem;
    text-align: center;
  }

  .buttons-wrapper li:nth-child(even){
    background-color: #fb8c00;
  }


.input-box, .form-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
    gap: 0.2rem;
  }

  .input-box{
    border: 2px solid grey;
    border-radius: 0.5rem;
  }
  
  .test-box{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 15% 80%;
  }

  .test-box input{
    width: 100%;
  }

  .school-box input{
    width: 200px;
  }

  .forminfo{
    display: grid;
    grid-template-columns: 26% 48% 26%;
    grid-template-rows: 40px 40px 40px;
    border: 1px solid black;
    padding: 0.5rem;
  }

  .centerfield{
    justify-self: center;
  }
  
  .buttons-wrapper li:hover {
    font-weight: bold;
    color: #fff;
    background-color: #1E88E5;
  }
  
  

.qtable-wrapper{
    width: 720px;
    background-color: #fff;
  }
    
  .questionlist-wrapper td {
    border: 2px solid black;
    text-align: center;
  }
  
  .questionlist-wrapper th {
    border:2px solid black;
    text-align: center;
  }
  
  .titr {
    display: flex;
    height: 30px; 
  }
  
  .besm {
    padding-bottom: 10px;
  }
  
  
  .questionstable{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
  }
  
  .questions {
    position: relative;
    text-align: center;
    border-top: 1px solid black;
    margin-right: auto;
    margin-left: auto;
  }
  
  .qimage {
    width: 640px;
    margin: 5px 0;
  }
  
  .questionnumber {
    position: relative;
    text-align: center;
    width: 20px;
    font-size: 80%;
    border: 1px solid black;
    }
  
  .marks {
    width: 35px;
    position: relative;
    text-align: center;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: 80%;
  }
  
  .marks input {
    font-family: "Shabnam-FD";
    text-align: center;
    width: 90%;
    height: 70%;
    position: absolute;
    top: 3px;
    left: 2px;
    border: none;
    font-weight: bold;
    font-size: 12px;
  }
  
  .marks input:hover {
    background-color: powderblue;
  }
  
  .questionnumber button {
    position: absolute;
    top: 15px;
    right: 4px;
    width: 22px;
    height: 22px;
    background-color: #1E88E5;
    border-radius: 0.3rem;
    border:none;
    cursor: pointer;
    padding: 0.2rem;
    transition: all 0.8s ease;
    background-image: url(./delete.svg);
  }
  
  .questionnumber button:hover{
    background-color: red;
    transform: scale(1.3);
  }
  
  .footer{
    height: 70px;
    background-image: url('./images/bgc18.jpg');
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    box-shadow: 2px 2px 10px #2f5bea;
    padding: 1.7rem;
}

.footer p{
    text-align: center;
}

@media (max-width: 1440px) {
  .header-lower-elements{
      height: 790px;
  }
}
@media (max-width: 1190px) {
  .header-lower-elements{
     height: 730px;
  }
}

@media (max-width: 1108px) {
  .header-lower-elements{
      height: 660px;
  }
}
@media (max-width: 980px) {
  .header-lower-elements{
      height: 600px;
  }
  .header-lower-elements h1{
      font-size: 30px;
  }
  .questionlist-wrapper, .qtable-wrapper, .form-wrapper{
    max-width: 700px;
  }
  .form-wrapper{
    align-items: center;
    font-size: 12px;
  }
  .userinputs{
    display: flex;
    flex-direction: column;
  }
  .test-box{
    margin: 0;
    max-width: 400px;
  }
  .test-box input{
    max-width: 300px;
  }
  .buttons-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    font-size: 12px;
  }
  .footer{
    margin-top: 10rem;
  }
}
@media (max-width: 750px){
  .header-lower-elements{
      height: 570px;
  }
  .header-lower-elements h1{
      font-size: 25px;
  }
  .questionlist-wrapper, .qtable-wrapper, .form-wrapper{
    max-width: 350px;
  }
  .questionlist-wrapper img{
    max-width: 290px;
  }
  .qtable-wrapper img{
    max-width: 290px;
  }
.main *,.main li{
    font-size: 10px;
  }
 }
@media (max-width: 708px){
  .header-lower-elements{
      height: 490px;
  }
  h1, h2, h3{
    font-size: 80%;
  }
  .gradeandchapter-wrapper{
    align-self: center;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
  }
  .dropdown-box{
    flex-direction: row;
  }
  .chevron-left{
   display: none;
  }
  .chevron-top{
    display: block;
  }
  .dropdown-wrapper{
    height: 30px;
    padding-top: 0.3rem;
  }
  .dropdown-content{
    flex-direction: column;
    margin-top: 8px;
    margin-right: -12px;
    width: 100%;
    height: 30px;
    z-index: 3;
  }
  .dropdown-content a{
    border-left: none;
    border-bottom: 2px solid #2f5bea;
    font-size: 12px;
  }
 .chapter-content{
   flex-direction: column;
  }
  .dropdown-wrapper:hover .dropdown-content a{
    font-size: 10px;
  }
  .text-box{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    margin-top: 60px;
  }
  .text-box p{
    max-width: 80px;
    font-size: 12px;
    text-align: center;
  }
  .footer{
    margin-top: 19.5rem;
  }
  .footer p{
    font-size: 10px;
  }
}
@media (max-width: 590px){
  .header-lower-elements{
      height: 390px;
  }
  .header-lower-elements h1{
      font-size: 20px;
  }
}
@media (max-width: 526px){
  .header-lower-elements{
      height: 350px;
  }
  .header-lower-elements h1{
      font-size: 20px;
  }
}
@media (max-width: 480px){
  .header-upper-elements{
      height: 30px;
  }
  .header-upper-elements a{
      font-size: 12px;
      width: 100px;
  }
  .footer p{
      font-size: 12px;
  }
}
@media (max-width: 433px){
  .header-upper-elements{
      height: 30px;
  }
  }
 